<div class="explanation-container">
  <div class="explanation-container__content">
    <div class="explanation-container__content__box">
      <h1 class="explanation-container__content__title">Meet the characters</h1>
      <p class="explanation-container__content__paragraph">
        The world of Rick & Morty is made up of hundreds of characters, all of
        them special in their own way. Get to know each one of them in depth.
      </p>
      <button
        routerLink="/characters"
        class="explanation-container__content__button"
      >
        Characters
      </button>
    </div>

    <div class="explanation-container__content__box">
      <h1 class="explanation-container__content__title">Create new ones</h1>
      <p class="explanation-container__content__paragraph">
        I'm sure you've created a lot of characters in your mind that are ideal
        for the Rick & Morty universe and it's time to bring them to life!
      </p>
      <button class="explanation-container__content__button">Creations</button>
    </div>

    <div class="explanation-container__content__box">
      <h1 class="explanation-container__content__title">Contact with me</h1>
      <p class="explanation-container__content__paragraph">
        This is an open and inclusive project, so if you want to participate in
        any way in the development of it, talk to me and let's do things
        together.
      </p>
      <button class="explanation-container__content__button">Contact</button>
    </div>
  </div>
</div>
