<div class="about-container">
  <div class="about-container__content">
    <img
      src="../../../assets/images/rick-drinking.png"
      class="about-container__content--image"
      alt="rick-drinking"
    />

    <div class="about-container__content__text">
      <h1 class="about-container__content__text--title">About me</h1>

      <p class="about-container__content__text--paragraph">
        My name is Rick, I'm a mad scientist who lives on planet earth and who
        every day lives the most surreal adventures with his grandson Morty. I
        like to create things (you know, the world of science and stuff) and,
        literally, my life is a meme.
      </p>

      <button class="about-container__content__text--button">Know me</button>
    </div>
  </div>
</div>
